/* Global styles */

* {
    font-family: "Open Sans", Helvetica, "Segoe Ui", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
}

a {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dropdown {
    padding: .5rem 0;
    position: absolute;
    z-index: 1;
    display: inline-block;
}

.dropdownItem {
    padding: .5rem;
    background-color: #000; 
}

/* Header */
.header {
    padding: .5rem .75rem;
    color: #fff;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header .navItem {
    padding: 1rem;
}

.header .navProfile:hover {
    cursor: pointer;
}
